/*****************
** EFECTO AURA
******************/

/* Animate the size, outside*/

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--button-color) }
}

/* Basic button styles*/
.pulse {
  position: absolute;
  // top: 50px;
  // left: 200px;
  background-color: var(--button-color);
  border: 2px solid var(--button-color);
  border-radius: 50%;
  // font: inherit;
  font-size: 2rem;
  font-weight: 800;
  line-height: 0;
  // margin: 0.5em;
  width: 50px;
  height: 50px;
  /* padding: 1em 2em; */
  color: var(--font-color);
  transition: 0.25s;
  animation: pulse 2s infinite;
  box-shadow: 0 0 0 2em transparent;
}